<h1 class="header">Chommies</h1>
<div class ="row">
	<form class="inputs" ng-submit="sendProps()">
		<div class = "col-sm-6">
			<p class="error" ng-show="errorMessage">{{errorMessage}}</p>
			<input type="text" ng-model="newPropsValue" class="inputBox" ng-class="{'isSending': isSending}">
			<div class="middle" ng-class="{'isSending': isSending}">
				<select ng-options="bru.id as bru.first_name for bru in brus" ng-model="selectedBru"></select>
				<button ng-click="sendProps()">Send Props</button>
			</div>
			<div class="refresh">
				<button ng-click = "getProps()">Refresh Props</button>
				<a href="#/me/" class="meLink">Me Page</a>
			</div>
		</div>
	</form>
	<div class = "col-sm-6">
		<ol class="props">
			<li ng-repeat='p in props'>
				<h5>{{p.receiver.first_name}} {{p.receiver.last_name}}</h5>
				<p>{{p.text}}</p>
			</li>
		</ol>
	</div>
</div>
