.school {
	text-align: center;
}
.largeName {
	text-align: center;
}
/*.background {
	background: url(https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xta1/v/t1.0-9/12439243_1283649891650390_4480331506468268198_n.jpg?oh=641197809af09a20af2280dcf0946103&oe=58058F09&__gda__=1475330036_0920c75dbc81590dd3c824110c39ea94);
	background-size: 1000px 800px;
	background-repeat: no-repeat;
}*/